[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
mkdocstrings = "*"
mkdocs-markdownextradata-plugin = "*"
mkdocs-include-markdown-plugin = "*"
markdown-include = "*"

[packages]

[requires]
python_version = "3.9"
